img{
	width:100%;
}
nav{
	position: absolute;
	top:0;
	width: 100%;
}
nav ul{
	display: inline-block;
}
nav li{
	text-decoration: none;
	font-family: Helvetica;
	list-style-type: none;
	display: inline-block;
	font-weight: bolder;
	padding: 15px;
}
nav a{
	text-decoration: none;
	color: white;
}
nav a:hover{
	color: #13D1C4;
	cursor:pointer;
}
.info{
	margin: 10px 70px;
}
.title{
	font-size: 2em;
	font-weight: bold;
	font-family: Roboto;
	color: #5E0584;
}
.info p{
	font-family: Roboto;
	margin-left: 15px;
}
body,html{
	margin:0;
}
.container{
	margin-top: 20px; 
	display: flex;
	flex-wrap: wrap;
	justify-content:  center;
}
.img{
	margin: auto;
	text-align: center;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	overflow: hidden;
}
.item img{
	height: 120px;
	width: auto;
}
.item{
	/*border: 1px solid black;*/
	margin: 20px;
	text-align: center;
}
.name{
	font-family: Roboto;
	font-weight: 1.3em;
	color: #5E0584;
	font-weight: bold;
	display: inline-block;
	margin: 5px;
}
.post{
	font-family: Roboto;
	font-size: 0.8em;
	/*font-weight: lighter;*/
}
.sponsors{
	text-align: center;
	font-family: Helvetica;
	font-size: 1.2em;
}
nav img{
	padding: 5px;
	height: 70px;
	width: auto;
	float: right;
	/*border: 1px solid black;*/
}